<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>

        <v-divider></v-divider>

        <v-list-item
          v-for="(item, i) in video_pages"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item
          v-for="(item, i) in history_pages"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item
          v-for="(item, i) in signin_nag"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-subtitle v-text="item.title" />
            <v-list-item-subtitle v-text="item.title2" />
          </v-list-item-content>
        </v-list-item>

        <v-list-item>
          <v-icon></v-icon>
          <v-row justify="center">
            <v-btn outlined color="primary">
              <v-icon>
                mdi-account-circle
              </v-icon>
              SIGN IN
            </v-btn>
          </v-row>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-title>
            BEST OF YOOTOOB
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          v-for="(item, i) in topics"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-subtitle v-text="item.title" />
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item
          v-for="(item, i) in browse_channels"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-subtitle v-text="item.title" />
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-title>
            MORE FROM YOOTOOB
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          v-for="(item, i) in more_from_yootoob"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-subtitle v-text="item.title" />
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item
          v-for="(item, i) in settings"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-subtitle v-text="item.title" />
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <a href="#">lots</a>
            <a href="#">of</a>
            <a href="#">various</a>
            <a href="#">links</a>
            <p style="margin-top=10px">🄯 Copyleft 2021 YooToob</p>
          </v-list-item-content>
        </v-list-item>

      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-row no-gutters justify="left" align="center">
          <v-app-bar-nav-icon @click.stop="miniVariant = !miniVariant" />
          <v-btn depressed text href="/" style="text-transform: none !important">
            <v-icon>mdi-youtube</v-icon>
            <span>YooToob</span>
          </v-btn>
      </v-row>

      <v-row no-gutters justify="center" align="center" style="margin-bottom: 10px;">
          <v-text-field
            label="Search"
            dense
            single-line
            outlined
            style="padding-top: 20px;"
            ></v-text-field>
            <v-btn outlined style="height: 40px; margin-bottom: 6px;">
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
            <v-btn class="ma-2" text icon>
              <v-icon>mdi-microphone</v-icon>
            </v-btn>
      </v-row>

      <v-row no-gutters justify="end" align="center" style="margin-bottom: 10px;">
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              v-bind="attrs"
              v-on="on"
              >
              <v-icon>
                mdi-apps
              </v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(item, index) in apps"
              :key="index"
              @click=""
              >
              <v-list-item-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              v-bind="attrs"
              v-on="on"
              >
              <v-icon>
                mdi-dots-vertical
              </v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(item, index) in more"
              :key="index"
              @click=""
              >
              <v-list-item-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-btn outlined color="primary">
          <v-icon>
            mdi-account-circle
          </v-icon>
          SIGN IN
        </v-btn>
      </v-row>
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      miniVariant: true,
      video_pages: [
        {
          icon: 'mdi-home',
          title: 'Home',
          to: '/'
        },
        {
          icon: 'mdi-fire',
          title: 'Trending',
          to: '/trending'
        },
        {
          icon: 'mdi-youtube-subscription',
          title: 'Subscriptions',
          to: '/subscriptions'
        },
      ],
      history_pages: [
        {
          icon: 'mdi-filmstrip-box-multiple',
          title: 'Library',
          to: '/library'
        },
        {
          icon: 'mdi-history',
          title: 'History',
          to: '/history'
        },
      ],
      signin_nag: [
        {
          title: 'Sign in to like videos,',
          title2: 'comment, and subscribe.',
        },
      ],
      topics: [
        {
          icon: 'mdi-music',
          title: 'Music',
          to: '/easter_egg/1#why',
        },
        {
          icon: 'mdi-trophy-variant',
          title: 'Sports',
          to: '/easter_egg/2#are',
        },
        {
          icon: 'mdi-youtube-gaming',
          title: 'Gaming',
          to: '/easter_egg/3#you',
        },
        {
          icon: 'mdi-newspaper',
          title: 'News',
          to: '/easter_egg/4#clicking',
        },
        {
          icon: 'mdi-broadcast',
          title: 'Live',
          to: '/easter_egg/5#these',
        },
        {
          icon: 'mdi-virtual-reality',
          title: '360° Video',
          to: '/easter_egg/6#buttons',
        },
      ],
      browse_channels: [
        {
          icon: 'mdi-plus-circle',
          title: 'Browse channels',
          to: '/easter_egg/7#seems',
        },
      ],
      more_from_yootoob: [
        {
          icon: 'mdi-youtube',
          title: 'Expensive yootoob',
          to: '/easter_egg/8#like',
        },
        {
          icon: 'mdi-broadcast',
          title: 'Live',
          to: '/easter_egg/9#You',
        },
      ],
      settings: [
        {
          icon: 'mdi-cog',
          title: 'Settings',
          to: '/easter_egg/10#enjoy',
        },
        {
          icon: 'mdi-flag',
          title: 'Report history',
          to: '/easter_egg/11#Clicking',
        },
        {
          icon: 'mdi-help-circle',
          title: 'Help',
          to: '/easter_egg/12#These',
        },
        {
          icon: 'mdi-message-alert',
          title: 'Send feedback',
          to: '/easter_egg/13#Buttons',
        },
      ],
      apps: [
        {
          icon: 'mdi-youtube-tv',
          title: 'YooToob TV',
        },
        {
          icon: 'mdi-music-circle',
          title: 'YooToob Music',
        },
        {
          icon: 'mdi-baby-carriage',
          title: 'YooToob Younglings',
        },
        {
          icon: 'mdi-youtube',
          title: 'Creator Academy',
        },
        {
          icon: 'mdi-youtube',
          title: 'YooToob for Artists',
        },
      ],
      more: [
        {
          icon: 'mdi-brightness-4',
          title: 'Appearance:',
        },
        {
          icon: 'mdi-translate',
          title: 'Language',
        },
        {
          icon: 'mdi-earth',
          title: 'Location',
        },
        {
          icon: 'mdi-cog',
          title: 'Settings',
        },
        {
          icon: 'mdi-shield-account',
          title: 'Datamining in YooToob',
        },
        {
          icon: 'mdi-help-circle',
          title: 'Help',
        },
        {
          icon: 'mdi-message-alert',
          title: 'Send feedback',
        },
        {
          icon: 'mdi-keyboard',
          title: 'Keyboard shortcuts',
        },
        {
          title: 'Restricted Mode: Off',
        },
      ],
    }
  }
}
</script>
