<template>
  <v-row>
    <v-row align="center" style="height: 60vh">
      <v-col class="text-center">
        <v-icon size="5.5em">
          mdi-history
        </v-icon>
        <p style="margin-top: 50px; font: 1.5em sans-serif;">We'll keep track of what you watch</p>
        <p style="margin-top: 20px;">After all, it won't be <b>you</b> who will be looking through your history</p>
        <v-btn outlined color="primary">
          <v-icon>
            mdi-account-circle
          </v-icon>
          SIGN IN
        </v-btn>
      </v-col>
    </v-row>
  </v-row>
</template>
