<template>
  <v-row justify="space-around">
    <v-col
      cols="12"
    >
      <v-sheet
        elevation="10"
        class="py-4 px-1"
      >
        <v-chip-group
          active-class="primary--text"
        >
          <v-chip
            v-for="tag in tags"
            :key="tag"
          >
            {{ tag }}
          </v-chip>
        </v-chip-group>
      </v-sheet>
    </v-col>
      <v-flex d-flex>
        <v-layout wrap>
          <v-flex md3 v-for="item in videos" :key="item.title">
            <v-card style="margin: 10px; padding: -20px; background-color: #00000000;" @click="" elevation="0">
              <v-img :src="item.thumbnail" max-width="250px"></v-img>
              <p>{{ item.title }}</p>
              <p>{{ item.channel }}</p>
              <p>{{ item.views }} · {{ item.age }}</p>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
  </v-row>
</template>

<script>
import example_videos from './example_videos.json'
export default {
  data () {
    return {
      videos: example_videos,
      tags: [
          "News",
          "Drama",
          "Gameplay",
          "Boomer rants innawoods",
          "Obnoxious influencer",
          "History",
          "Feel good",
          "Political BS",
          "Travel",
          "Train hopping videos",
          "Animals",
          "Music",
          "Literal advertising",
          "Vehicles",
          "Videos in a foreign language",
          "Japan",
          "Tech",
      ]
    }
  }
}
</script>
