<template>
  <v-row>
    <v-row align="center" style="height: 60vh">
      <v-col class="text-center">
        <v-icon size="5.5em">
          mdi-filmstrip-box-multiple
        </v-icon>
        <p style="margin-top: 50px; font: 1.5em sans-serif;">Enjoy your favourite videos</p>
        <p style="margin-top: 20px;">We'll still keep recommending you videos you don't like or have watched multiple times</p>
        <v-btn outlined color="primary">
          <v-icon>
            mdi-account-circle
          </v-icon>
          SIGN IN
        </v-btn>
      </v-col>
    </v-row>
  </v-row>
</template>
