<template>
  <v-row>
    <v-row align="center" style="height: 60vh">
      <v-col class="text-center">
        <v-icon size="5.5em">
          mdi-youtube-subscription
        </v-icon>
        <p style="margin-top: 50px; font: 1.5em sans-serif;">Don't miss new videos</p>
        <p style="margin-top: 20px;">Someone, who makes a youtube channel only to keep track of subscriptions doesn't know how to use an RSS feed</p>
        <v-btn outlined color="primary">
          <v-icon>
            mdi-account-circle
          </v-icon>
          SIGN IN
        </v-btn>
      </v-col>
    </v-row>
  </v-row>
</template>
