<template>
  <v-row>
    <v-list three-line width="100%">
      <template v-for="(item) in videos">
        <v-list-item
          :key="item.title"
          @click=""
          style="margin: 25px;"
          >
          <v-img :src="item.thumbnail" max-width="300px" style="margin-right: 20px;"></v-img>

          <v-list-item-content>
            <v-list-item-title v-html="item.title" style="margin: -30px 0 10px 0;"></v-list-item-title>
            <p style="margin: -90px 0 0 0;">{{ item.channel }} · {{ item.views }} · {{ item.age }}</p>
            <p style="margin: -70px 0 0 0;">{{ item.description }}</p>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-row>
</template>

<script>
import example_videos from './example_videos.json'
export default {
  data () {
    return {
      videos: example_videos,
    }
  }
}
</script>
